
                <div class="message-teacher">
                    <div class="content-message">
                        <div class="chat-message-block-name">Pérez, Juan</div>
                        <div class="chat-message-block-content"><p>kill me please</p>
</div>
                        <div class="message-date">20/10/20 02:07:17</div>
                    </div>
                    <div class="icon-message"></div>
                    <img class="chat-image" src="https://mylms.opensharing.priv/main/img/icons/64/unknown.png">
                </div>
            