
                <div class="message-teacher">
                    <div class="content-message">
                        <div class="chat-message-block-name">Pérez, Juan</div>
                        <div class="chat-message-block-content"><p>que haces we</p>
</div>
                        <div class="message-date">04/02/21 14:25:00</div>
                    </div>
                    <div class="icon-message"></div>
                    <img class="chat-image" src="https://mylms.opensharing.priv/main/img/icons/64/unknown.png">
                </div>
            
                <div class="message-teacher">
                    <div class="content-message">
                        <div class="chat-message-block-name">Pérez, Juan</div>
                        <div class="chat-message-block-content"><p><img class="emojione" alt="&#x1f637;" src="https://mylms.opensharing.priv/main/inc/lib/javascript/emojione/png/1F637.png?v=1.2.4"/></p>
</div>
                        <div class="message-date">04/02/21 14:25:28</div>
                    </div>
                    <div class="icon-message"></div>
                    <img class="chat-image" src="https://mylms.opensharing.priv/main/img/icons/64/unknown.png">
                </div>
            