
                <div class="message-student">
                    <img class="chat-image" src="https://mylms.opensharing.priv/main/img/icons/64/unknown.png">
                    <div class="icon-message"></div>
                    <div class="content-message">
                        <div class="chat-message-block-name">Capija, Lary</div>
                        <div class="chat-message-block-content"><p>hgfhfhhgf</p>
</div>
                        <div class="message-date">08/02/21 23:17:35</div>
                    </div>
                </div>
            